<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title></title>
</head>
<body>
	<h1> {{ project.name }} </h1>
	<p> {{ project.description }} </p>

	<section>
		<aside>
			@each(status in project.statuses)
				<div>
					<a href="">{{ status.name }}</a>
				</div>
			@endeach
		</aside>

		<section>
			@each(post in project.posts)
				<div>
					<h2>
						<a href="{{ route('post', { id: post.id }) }}">{{ post.title }}</a>
					</h2>
					<p><strong>Upvotes</strong>: {{ post.upvotesCount }}</p>
					<p><strong>Author</strong>: {{ post.author.fullName }}</p>
					<p><strong>Status</strong>: {{ post.status.name }}</p>
				</div>
			@endeach
		</section>
	</section>

</body>
</html>
